---
description: "Prometheus is unavailable"
alertName: "PrometheusUnavailable"
objective: 90
errorQuery: sum(label_replace(avg_over_time(kube_pod_status_ready{condition="false",namespace=~"(.*)-prometheus"}[{{.window}}]), "cluster_id", "$1", "pod", "prometheus-(.+)-(.+)")) by (pod, cluster_id, cluster_type, customer, installation, pipeline, provider, region)
totalQuery: sum(label_replace(avg_over_time(kube_pod_status_ready{namespace=~"(.*)-prometheus"}[{{.window}}]), "cluster_id", "$1", "pod", "prometheus-(.+)-(.+)")) by (pod, cluster_id, cluster_type, customer, installation, pipeline, provider, region)
topic: observability
alertLabels:
  cancel_if_any_apiserver_down: "true"
  cancel_if_cluster_status_creating: "true"
  cancel_if_cluster_status_updating: "true"
  cancel_if_cluster_status_deleting: "true"
  cancel_if_cluster_has_no_workers: "true"
  cancel_if_outside_working_hours: "true"
annotations:
  dashboard: promavailability/prometheus-availability
  description: Prometheus {{$labels.pod}} is unavailable.
  opsrecipe: prometheus-resource-limit-reached/
