name: alert-test
run-name: run unit and conformance tests

on: [pull_request]

jobs:
  opsrecipe-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"
      - name: Clone opsrecipe repo
        run: |
          git clone --depth 1 --single-branch -b main -q https://oauth2:${{ secrets.TAYLORBOT_GITHUB_ACTION }}@github.com/giantswarm/giantswarm.git
      - name: run opsrecipe tests
        env:
          OPSRECIPES_DIR: ./giantswarm
        run: make test-ci-opsrecipes
