name: alert-test
run-name: run unit and conformance tests

on: [pull_request]

jobs:
  runbook-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "0"
      - name: Clone giantswarm runbook repo
        run: |
          git clone --depth 1 --single-branch -b main -q https://oauth2:${{ secrets.TAYLORBOT_GITHUB_ACTION }}@github.com/giantswarm/giantswarm.git
      - name: Clone handbook runbook repo
        run: |
          git clone --depth 1 --single-branch -b main -q https://oauth2:${{ secrets.TAYLORBOT_GITHUB_ACTION }}@github.com/giantswarm/handbook.git
      - name: run runbook tests
        run: make test-ci-runbooks
      - name: validate sloth rules
        run: make sloth-validate
